@import '../../assets/variables.scss';

.MyList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .show {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;

    div {
      margin-bottom: 0;
    }

    i {
      color: $red;
      transition: .3s;

      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
}

.title {
  margin-left: 68px;
}