$red: #e50914;
$dark-red: #880c12;
$dark-gray: #181818;
$white: #fff;
$black: #000;
$blue: #00cccc;
$black-opacity-07: rgba(0, 0, 0, .7);
$black-opacity-05: rgba(0, 0, 0, .5);
$text-light: rgb(223, 226, 247);
$button-gray: #4f4d50;
$button-gray-focus: #2d2c2e;